@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Space+Mono&display=swap');
@importn @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Poppins:wght@300;400;500;600;700&family=Space+Mono&display=swap'); /* for footer*/

/*---------------------- Variables ----------------------
Hover Color – Blue:
(header menu li:hover, Footer li:hover, Footer h4 underline, social media link icon border fills:hover)
#0066FF;
Header submenu- Blue & transparent:
rgba(0,102,255,.8)
Header submenu- dotted underline:
#
Header submenu li a:hover- light green:
#b2ff00
Body font- Black:
#fff
Body background- Black:
black
Footer li -off white:
#bbbbbb
Footer h4 -white:
#ffffff
Footer social media link icon -gray & transparent:
rgba(255,255,255,0.2)
Footer Background – Dark Gray:
#202020
Footer Background – Black:
#fff
---------------------- Variables ----------------------*/


*{
	margin: 0;
	padding 0; 
}
/*---------------------- Navbar ----------------------*/
.navbar {
	display: flex;
	position: fixed;
	top: 0;
	z-index: 1;
	width: calc(100% - 17px);
	background: rgba(0,0,0,0.7);
	flex-wrap: wrap;
	justify-content: right;
	height: 66.8px;
}

.logo{
	height: 60px;
    width: auto;
}
	
.navbar ul {
	display: flex;
	list-style: none;
	padding: 0;
	width: 100%;
}
.div0{
	display: flex;
	justify-content: right;
	width: 5%;
	min-width: 60px;
}

.div1{
	display: flex;
	justify-content: right;
	width: 5%;
}

.div2{
	display: flex;
	justify-content: left;
	width: 42.5%;
	align-items: center;
}

.div3{
	display: flex;
	justify-content: right;
	width: 44%;
	align-items: center;
}

.div4{
	display: flex;
	justify-content: right;
	width: auto;
	min-width: 15px;
}

.div2 li {
	flex: 0 0 100px;
	margin-right: 5px;
	margin-left: 5px;
	text-align: center;
}

.div3 li {
	flex: 0 0 100px;
	margin-right: 5px;
	margin-left: 5px;
	text-align: center;
	justify-content: right;
}

.div3 li:last-child{
	margin-right: 0px;
	align-items: center;
}

.navbar ul li a {
	text-decoration: none;
	color: #ffffff;
	justify-content: center;
	text-align: center;
}

.navbar ul li a:hover {
	color: #0066FF;
}

@media only screen and (max-width: 570px){ /* Mobile: If [device width] is less than or equal to 570px, then do {…}”*/
	.div0 {
	}
	.div1 {
	}
	.div2 li{
		visibility: hidden;
	}
	.div3 li{
		visibility: hidden;
		width:0;
	}
	#elip {
		visibility: visible;
	}

	#elip li{
		visibility: visible;
	}
	
	#elipsis{
		visibility: visible;
		width: auto;
		height: 40px;
		align-items: right;
		margin-left: 85%;
	}
	.submenu{
		display: none;
	}
	.div3 .submenu{
		right:0;
	}

	.div3 .submenu ul{
		display: block;
		
	}
	
	#elip:hover .submenu{
		display: block;
		position: absolute;
		background: rgba(0,102,255,.8);
	}
	
	#elip:hover .submenu ul{
		display: block;
		margin: 10px;
	}
	
	#elip:hover .submenu ul li{
		width: 150px;
		padding: 10px;
		border-bottom: 1px dotted #fff;
		background: transparent;
		border-radius: 0;
		text-align: left;
	}
	#elip:hover .submenu ul li:last-child{
		border-bottom: none;
	}

	#elip:hover .submenu ul li a:hover{
		color: #b2ff00;
	}
	.div4 li{
	}
}


@media only screen and (min-width: 570px){ /* Dsktp: If [device width] is less than or equal to 570px, then do {…}”*/
	.div0 {
	}
	.div1 {
	}
	.div2 li{
		visibility: visible;
	}
	.div3 li{
		visibility: visible;
	}
	#elipsis{
		visibility: hidden;
		width: 10px;
	}
	#elip{
		flex: 0 0 0px;
	}
	.submenu{
		display: none;
	}

	.div3 .submenu{
		right:0;
	}
	
	.div3 .submenu ul{
		display: block;
	}
	
	#elip:hover .submenu{
		visibility: hidden;
		display: block;
		position: absolute;
		background: rgb(0,100,0);
	}
	
	#elip:hover .submenu ul{
		display: block;
		margin: 10px;
	}
	
	#elip:hover .submenu ul li{
		visibility: hidden;
		width: 150px;
		padding: 10px;
		border-bottom: 1px dotted #fff;
		background: transparent;
		border-radius: 0;
		text-align: left;
	}
	#elip:hover .submenu ul li:last-child{
		border-bottom: none;
	}
	#elip:hover .submenu ul li a:hover{
		color: #b2ff00;
	}
	.div4 li{
	}
}

/* ----------------------Body Sections----------------------*/


body {
	font-family: 'Open Sans', 'Roboto', sans-serif;
	background: black;
	color: #fff;
	line-height: 1.6;
	height: 100vh;
	overflow: hidden;
}

.container {
	width: 100%;
	height: 100%;
	/* CSS Smooth Scroll---  https://www.youtube.com/watch?v=y9nlfqT4s9s    ---minute 13:43*/ 
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

.forjssec{

	height: 66.8px;
	width: calc(100% - 17px)
}

section {
	display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	scroll-snap-align: center;
}

section h1{
	font-size: 4rem;
}

section p{
	font-size: 1.5rem;
}	

#top{
	visibility: hidden;
}

section#home {
	color: white;
	font-size: 0.5em;
	background: url('Book_Background_picv1.2.png') no-repeat center/cover;
	/*background: url('Book_Background_picv1.2.png') no-repeat center center/cover;*/
	box-sizing: border-box;
	background-position: center +0px;
	max-width: 90%;
	height: 80%;
	padding: 2;
	border-radius: 10%;
	top: 0px;
	margin-top: 0px;
	margin-bottom: 0%;
    margin-right: 5%;
    margin-left: 5%;
	overflow: hidden;
}
.quote {
	color: white;
	font-size: 6.0em;
	font-family: 'PT Serif', serif;
}
section#platform {
}
section#careers {
}
section#log-in {
}

/* ----------------------Footer----------------------*/


footer{			https://www.youtube.com/watch?v=YOb67OKw62s i.e. Responsive Footer Design using Html & Css by "The WebShala"
	margin:0;
	padding:0;
	box-sizing: border-box;

	
	background-color: #202020;
	padding: 130px 0;
	font-family: 'Poppins', sans-serif;
	
	width: 100%;
	height: 100vh;
	scroll-snap-align: center;
}

footer .container2{
	max-width: 1170px;
	margin:auto;
	overflow: visible;
	margin-left: 5%;
}

footer .row{
	display: flex;
	flex-wrap: wrap;

}

footer ul {
	list-style: none;
	padding: 0px;
	min-width: 20%;
	
}

footer .footer-col{
	padding: 0 15px;
	display: block;
	width: 20%;
	min-width: 140px;
	text-align: left;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 500;
	position: relative;
	margin-bottom: 20px;
}

.footer-col h4::before{
	content: ''; 
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #0066FF;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li:last-child{
	margin-bottom: 30px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
	min-width: 140px;
}
.footer-col ul li a:hover{
	color: #0066FF;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: black;
	background-color: #0066FF;
}
minute 9:31
https://www.youtube.com/watch?v=YOb67OKw62s
